html>body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6mcxQZP6xWxPqXXxtdyQ1a2Ja_gJjobCRqm9fDHB-GkikbxkH");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 130%;
}
.form{
    background-color: rgba(219, 215, 215, 0.9);
    text-align: center;
}
h2{
    text-transform: uppercase;
    font-style: italic;
    color: rgb(53, 79, 90);
    font-weight: 900;
}
h1{
    text-align: center;
    color: rgb(26, 116, 56);
    font-weight: bolder;
    text-transform: capitalize;
    font-style: oblique;
}

.card-body{
    background-color: rgba(180, 179, 89, 0.9);
}
